/* @media(min-width: 992px){
}
@media(min-width: 768px) and (max-width: 991px){
}
@media(min-width: 575px) and (max-width: 767px){
  .p-xl-4{
    padding-left: 35px;
  }
}
@media(min-width: 480px) and (max-width: 574px){
  .p-xl-4{
    padding-left: 23%;
  }
}
@media (min-width:450px) and (max-width: 479px){
  .p-xl-4{
    padding-left: 20%;
  }
}
@media(max-width: 449px){
  .p-xl-4{
    padding-left: 5%;
  }
} */
#log{
     padding:60px 40px;
    -webkit-box-shadow: -1px 1px 60px 10px black;
    -moz-box-shadow: -1px 1px 60px 10px black;
    box-shadow: -1px 1px 60px 10px black;
    font-family: 'Lexend Deca', sans-serif !important;
    background: rgba(0,0,0,0.4);
}
